* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Merriweather', serif;
}



/* top navbar */
.top-navbar {
    display: flex;
    justify-content:space-between;
}

.top-navbar p {
    margin-top: 13px;
    margin-left: 15px;
}

.top-navbar .icons {
    margin-top: 13px;
}

.top-navbar a {
    text-decoration: none;
    color: black;
    margin: 2px;
}

.top-navbar a:hover {
    color: black;
}

@media screen and (max-width:400px) {
    .top-navbar a {
        font-size: 13px;
    }

    .top-navbar p {
        font-size: 13px;
    }
}

@media screen and (max-width:320px) {
    .top-navbar a {
        font-size: 10px;
    }
}

@media screen and (max-width:318px) {
    .top-navbar a {
        font-size: 8px;
        margin-left: 0;
    }

    .top-navbar p {
        font-size: 10px;
        margin-top: 20px;
    }
}



/* product cards */
#product-cards .card:hover {
    transition: all 500ms ease;
    box-shadow: 0 3px 10px #1f1e1e;
    background-color: whitesmoke;
}


#product-cards .card h3 {
    font-size: 20px;
    color: black;
}

#product-cards .card p {
    font-size: 12px;
    margin-top: 5px;
    color: black;
}

.star i {
    margin-left: 5px;
    font-size: 13px;
}

.checked {
    color: #ffc800;
}

#product-cards .card h2 {
    font-size: 20px;
    color: black;
    margin-top: 20px;
}

@media screen and (max-width:1000px) {
    #product-cards .card h3 {
        font-size: 15px;
    }

    #product-cards .card h2 {
        font-size: 18px;
    }
}



/* other cards */
#other-cards {
    margin-top: 30px;
}

#other-cards .card {
    background-color: #a9a9a92b;
}

#other-cards .card h3 {
    margin-top: 30px;
    color: black;
    margin-left: 10px;
    letter-spacing: 3px;
}

#other-cards .card h5 {
    margin-top: 15px;
    font-weight: 100;
    font-size: 18px;
    color: black;
    margin-left: 10px;
    letter-spacing: 3px;
    border-bottom: 2px solid black;
    width: 220px;
}

#other-cards .card p {
    margin-top: 10px;
    font-weight: 100;
    font-size: 15px;
    color: black;
    margin-left: 10px;
    letter-spacing: 3px;
}

#shopnow {
    width: 130px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
    letter-spacing: 3px;
    color: white;
    background-color: black;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

@media screen and (max-width:1000px) {
    #other-cards .card h3 {
        margin-top: 5px;
        font-size: 18px;
    }

    #other-cards .card h5 {
        margin-top: 5px;
        font-size: 14px;
    }

    #other-cards .card p {
        margin-top: 0px;
        font-size: 10px;
    }

    #shopnow {
        margin-top: 0px;
        width: 120px;
        height: 30px;
        font-size: 16px;
    }
}



/* other cards */
#other {
    margin-top: 50px;
}

#other .card {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

#other .card h3 {
    margin-top: 10px;
    color: white;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 3px;
    font-weight: bold;
}

#other .card p {
    margin-top: 10px;
    color: white;
    text-shadow: 0px 1px 1px black;
    letter-spacing: 3px;
    font-weight: bold;
}

/* other cards style */



/* offer */
#offer {
    margin-top: 100px;
}

#offer i {
    font-size: 32px;
    color: black;
}

/* offer */

/* newslater */
#newslater {
    margin-top: 100px;
}

#newslater h3 {
    font-size: 25px;
    letter-spacing: 3px;
}

/* footer */
#footer {
    padding: 0 0 30px 0px;
    color: white;
    font-size: 14px;
    margin-top: 100px;
}

#footer .footer-top {
    padding: 60px 0 30px 0;
    color: rgb(220, 220, 220);
}


#footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    color: white;
}

#footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
    margin-top: 10px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-links ul li a {
    text-decoration: none;
    color: white;
    display: inline-block;
    line-height: 1;
    font-weight: bold;
    transition: 0.5s ease;
}

#footer .footer-top .footer-links ul li a:hover {
    color: #ffc800;
}

#footer .footer-top .socail-links a {
    font-size: 18px;
    display: inline-block;
    text-decoration: none;
    background-color: #373737;
    color: white;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    transition: 0.5s ease;
}

#footer .footer-top .socail-links a:hover {
    background-color: #ffc800;
    color: white;
}

#footer .copyright {
    text-align: center;
    float: left;
}

#footer .credits {
    float: right;
    text-align: center;
    font-size: 13px;
}

/* footer */


/* back to top */
.arrow {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 50px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
}

/* about */
#about {
    margin-top: 30px;
}

#about h3 {
    font-weight: bold;
    text-shadow: 0px 1px 1px black;
}

/* contact */

#contact .card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#contact .card i {
    margin-top: 10px;
    margin-left: 10px;
    font-weight: bold;
    letter-spacing: 3px;
}

#contact .card h6 {
    margin-left: 10px;
    margin-top: 10px;
    letter-spacing: 3px;
    font-weight: bold;
}

.messagebtn button {
    margin-top: 30px;
    width: 200px;
    font-weight: bold;
    letter-spacing: 3px;
    transition: 1s ease;
}

/* contact */

::-webkit-scrollbar {
    display: none;
}